---
title: Joe
created: !!timestamp '2011-08-31 10:00:00'
---

{% block image -%}

![Joe]([[!!img/joe.JPG]])

{%- endblock %}

{% block excerpt -%}

This is our first project collaboration together and it has been pretty gratifying. Joe has been glued in front of the computer for the past few weeks creating a website for the product. 

{%- endblock %}
{% block body -%}
He is being so open creatively and never says 'no' to an idea even though it's his first website. Full Moon in effect. ;p
{%- endblock %}
