---
extends: full-page.j2
title: "MOON | About"
title_ending: ""
default_block: ""
description: About Beverly Moon
---

{% block inside_content %}
<img alt="Portrait" src="{{ media_url('img/BIO_1.jpg') }}"/>

<div class="overlay-about">

### Beverly Ng Moon

I'm a senior product experience designer for [Cinco&nbsp;Design](http://cincodesign.com), based in sunny Portland, Oregon. 

My passion is for curating experiences through products and invoking beauty in everyday things.

Always curious, I'm looking for refreshing new projects and like-minded individuals to collaborate with.

Don’t be shy. <a title="e-mail" href="mailto:mail@beverlymoon.com">Say "Hello."</a>

</div>
{% endblock %}

{% block rss %}
<div class="hyde">
smelted with <a href="https://github.com/hyde/hyde" title="Hyde Static Site Generator">Hyde</a>
</div>
{% endblock %}
