<!doctype html>
<html lang="en">
<head>
<title>MOON {{ resource.meta.title_ending }}</title>
<meta charset="utf-8" />
<meta name="description" content="{{ resource.meta.description }}">
<meta name="author" content="{{ resource.meta.author }}">
<link rel="stylesheet" href="{{ media_url('css/site.min.css') }}">
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

{% block favicons %}
<!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
<link rel="shortcut icon" href="{{ media_url('/beverlymoon.png') }}">
{% endblock favicons %}
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
<!--[if lte IE 9]>
<style media="screen" type="text/css">
#main {
	max-width: 640px;
}
</style>
<![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26670461-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
    <body>
		<div id="wrapper">
			<div id="main">
                <header>
                    <div class="head-group clearfix">
                    <a id="logo-link" href="/"><img id="logo" alt="Moon" src="{{ media_url('img/logo.png') }}" /></a>
                    <nav class="top-nav">
                    {# Move main menu rendering away from the base layout. This
                       way it can be used to generate the list many times, in
                       a footer, etc.
                    #}
                        {% from "macros.j2" import render_main_menu with context %}
                        {{ render_main_menu() }}
                    </nav>
                    </div>
					<div class="grid-border-wrapper">
                    <hr class="grid-border" />
					</div>
					{% block sub_nav %}
					{% endblock %}
                </header>
				<div id="content" class="clearfix">
				{% block nav_left %}
				{% endblock %}
				{% block content %}{% endblock %}
				{% block nav_right %}
				{% endblock %}
				</div>
                <footer class="clearfix">
				<div class="grid-border-wrapper">
				<hr class="grid-border" />
				</div>
				{% block return_top %}
				{% endblock %}
                </footer>
			</div> {# main #}
		</div> {# wrapper #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js?ver=1.4.0"></script>
    </body>
</html>
