{% extends "projects.j2" %}
{% from "macros.j2" import render_gallery with context  %}
{% block content %}

<ul class="gallery-list clearfix">
{% for res in resource.node.walk_resources_grouped_by_gallery() %}
<li class="grid_4p frame fade-trigger">
{{ render_gallery(res, "") }}
</li>
{% endfor %}
</ul>

{% endblock %}
