{% macro render_main_menu() -%}
<ul class="clearfix menu-container">
{% for menu_item in menu -%}
<li><a class="nav-item{% if (("/" ~ menu_item.url) == resource.node.url) or (menu_item.url == resource.slug) or ("/" ~ menu_item.url == resource.node.url|truncate(9, 1, ''))%} selected{% endif %}" href="/{{ menu_item.url }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
<ul>
{% for item in menu -%}
{% set active = False -%}
{% if item.type == 'page' -%}
{% set active = (resource.url ==
site.content.resource_from_relative_path(item.url).url) -%}
{% else -%}
{% set active = (node ==
site.content.node_from_relative_path(item.url)) -%}
{%- endif %}
{% set classes = ['button', 'white'] -%}
{% do classes.append('active') if active -%}
{% do classes.append(item.css_class) if item.css_class -%}
<li>
<a title="{{ item.description }}"
class="{{ classes|join(' ') }}"
href="{{ content_url(item.url) }}">
{{ item.name }}
</a>
</li>
{%- endfor %}
</ul>
</nav>
{%- endif %}
{%- endmacro %}


{% macro render_projects_menu() -%}
<nav class="sub-nav">
<ul class="menu-container">
<li class="current-project"><a class="nav-item selected" href="/projects/contact-case">Contact Lens Case :</a></li>
<li><a class="nav-item{% if resource.node.url == "/projects\\contact-case\\gallery" %} selected{% endif %}" href="/projects/contact-case/gallery">Gallery</a></li>
<li><a class="nav-item{% if resource.node.url == "/projects\\contact-case\\info" %} selected{% endif %}" href="/projects/contact-case/info">Info</a></li>
<li><a class="nav-item{% if resource.node.url == "/projects\\contact-case\\diary" %} selected{% endif %}" href="/projects/contact-case/diary">Diary</a></li>
<li><a class="nav-item{% if resource.slug == "kickstarter" %} selected{% endif %}" href="/projects/contact-case/kickstarter">Kickstarter</a></li>
</ul>
</nav>
{%- endmacro %}

{% macro render_gallery(res, class=None) %}
{% refer to res.url as article %}
	<a href="/projects/contact-case/gallery/{{ (res.slug) }}" class="clearfix">
		<span class="block-link"></span>
	</a>
	<article class="clearfix gallery-ex">
			<img class="fade-hover" alt="{{ res.meta.title }}" src="/media/img/gallery/{{ res.slug }}.jpg" />
	</article>
{% endmacro %}

{% macro render_info(res, class=None) %}
{% refer to res.url as article %}
	<a href="/projects/contact-case/info/{{ (res.slug) }}" class="clearfix">
		<span class="block-link"></span>
	</a>
	<article class="clearfix info-ex">
			<h3 class="info-post-title">{{ res.meta.title }}</h3>
			<img class="fade-hover" alt="{{ res.meta.title }}" src="/media/img/info/{{ res.slug }}.jpg" />
	</article>
{% endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.url as article %}
	<a href="/projects/contact-case/diary/{{ (res.slug) }}" class="clearfix">
		<span class="block-link"></span>
	</a>
	<article class="clearfix diary-ex">
				<h3 class="diary-post-title">{{ res.meta.title }}</h3>
					<time class="diary-post-date" datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
						{{ res.meta.created.strftime('%B %d, %Y') }}
					</time>
			<img class="fade-hover" alt="{{ res.meta.title }}" src="/media/img/diary/{{ res.slug }}.jpg" />
	</article>
{% endmacro %}
