{% macro render_main_menu() -%}
<ul class="clearfix menu-container">
{% for menu_item in menu -%}
<li><a class="nav-item" {% if menu_item.url+".html" == resource.url %}class="selected"{% endif %}
href="/{{ menu_item.url }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_projects_menu() -%}
<div class="current-project"><a class="nav-item-left selected" href="/projects/contact-case">Contact Lens Case</a></div>
<nav class="sub-nav">
<ul class="menu-container">
<li><a class="nav-item" href="/projects/contact-case/gallery">Gallery</a></li>
<li><a class="nav-item" href="/projects/contact-case/pdx">PDX</a></li>
<li><a class="nav-item" href="/projects/contact-case/diary">Diary</a></li>
</ul>
</nav>
{%- endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.url as article %}
	<a href="{{ content_url(res.url) }}" class="clearfix">
		<span class="block-link"></span>
	</a>
	<article class="clearfix diary-ex">
			<img alt="{{ res.meta.title }}" src="/media/img/{{ res.name|truncate(-5, true, "") }}.jpg" />
			<div class="overlay fade-hover">
			<div class="clearfix">
				<h1 class="diary-post-title">{{ res.meta.title }}</h1>
					<time class="diary-post-date" datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
						{{ res.meta.created.strftime('%B %d, %Y') }}
					</time>
			</div>
			{{ article.post|markdown|typogrify }}
	</article>
{% endmacro %}

{% macro render_diary_nav(res) -%}
<hgroup class="clearfix">
<div class="current-project">
<a class="nav-item-left" href="{{ content_url(res.node.url) }}">Back to list</a>
</div>
<nav class="diary-nav clearfix">
<ul class="menu-container">
{% if res.next_by_time %}<li><a title="{{ res.next_by_time.meta.title }}" class="nav-item" href="{{ content_url(res.next_by_time.url) }}">Previous</a></li>{% endif %}
{% if res.prev_by_time %}<li><a title="{{ res.prev_by_time.meta.title }}" class="nav-item" href="{{ content_url(res.prev_by_time.url) }}">Next</a></li>{% endif %}
</ul>
</nav>
</hgroup>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
<ul>
{% for item in menu -%}
{% set active = False -%}
{% if item.type == 'page' -%}
{% set active = (resource.url ==
site.content.resource_from_relative_path(item.url).url) -%}
{% else -%}
{% set active = (node ==
site.content.node_from_relative_path(item.url)) -%}
{%- endif %}
{% set classes = ['button', 'white'] -%}
{% do classes.append('active') if active -%}
{% do classes.append(item.css_class) if item.css_class -%}
<li>
<a title="{{ item.description }}"
class="{{ classes|join(' ') }}"
href="{{ content_url(item.url) }}">
{{ item.name }}
</a>
</li>
{%- endfor %}
</ul>
</nav>
{%- endif %}
{%- endmacro %}

{% macro render_footer() -%}
<ul class="menu-container clearfix">
<li><a class="nav-item" href="/about">About</a></li>
<li><a class="nav-item" href="mailto:mail@beverlymoon.com">Contact</a></li>
</ul>
{%- endmacro %}
