{% extends "base.j2" %}
{% from "macros.j2" import render_projects_menu with context  %}

{% block sub_nav %}
<div class="head-group clearfix">
{{ render_projects_menu() }}
</div>
{% endblock %}

{% block content %}
{% filter markdown|typogrify -%}
{% block inside_content %}{% endblock %}
{%- endfilter %}
{% endblock %}
