{% extends "base.j2" %}
{% from "macros.j2" import render_projects_menu with context  %}

{% block sub_nav %}
<hgroup class="clearfix">
{{ render_projects_menu() }}
</hgroup>
{% endblock %}

{% block content %}
{% block inside_content %}
{% endblock %}
{% endblock %}
