---
title: Corian Samples
created: !!timestamp '2011-07-21 10:00:00'
---

{% block image -%}

![Corian Samples]([[!!img/corian.jpg]])

{%- endblock %}

{% block excerpt -%}

I had a hard time trying to find some Corian sheets for the first run of sample production.  Lots of headaches talking to various local shops and big box retailers. 

{%- endblock %}
{% block body -%}
I finally got in touch with a rep and he graciously opened his own home to let me rummage through his piles of samples. So excited to see so many colors and options. I've been looking at the material online for the past few months and to actually feel the samples and see the colors was really helpful.
{%- endblock %}
