---
title: First Samples
created: !!timestamp '2011-09-01 10:00:00'
---

{% block image -%}

![Samples]([[!!img/finished_samples.JPG]])

{%- endblock %}

{% block excerpt -%}

First 45 samples were ready to be picked up. Talked to Stuart, a SPM employee who's been more than helpful along this process, about the troubles that they've been having with the lid and how the taper is causing the material to kick up and crack. 

{%- endblock %}
{% block body -%}
I thought that this whole process was almost over but it seems like there might be more revisions than I anticipated.  Good thing is that I have a few to give away and feel out how users are liking it. 
{%- endblock %}
